
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 d-flex mt-4">
        <div class="card text-center" style="width:18rem;">
         <img src="../images/BestQual.CuttOff.jpg" alt="Card 1" class="card-img-top mx-auto">
            <div class="card-body flex-fill ">
              <h4 class="card-title">Отрезные корборундовые диски BestQual</h4>
              <p class="card-text">Отрезные диски уп.100шт п-во Китай</p>
              <h6 class="card-header">
              <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price float-left">$27$</div>
        <a href="/add-to-cart/{{10}}/{{1}}/{{A}}" class="btn btn-success mt-auto float-right" role="button">В корзину </a>
             </div>
            </div>
        </div>
     </div>
      <div class="col-sm-6 col-md-4 d-flex mt-4">
        <div class="card text-center" style="width:18rem;">
         <img src="../images/Keystone-separating.jpg" alt="Card 1" class="card-img-top mx-auto">
            <div class="card-body flex-fill ">
              <h4 class="card-title">Отрезные корборундовые диски Keystone</h4>
              <p class="card-text">Отрезные диски уп.100шт </p>
              <h6 class="card-header">
              <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price float-left">$42$</div>
        <a href="/add-to-cart/{{10}}/{{1}}/{{A}}" class="btn btn-success mt-auto float-right" role="button">В корзину </a>
            </div>
          </div>
        </div>
    </div>
     <div class="col-sm-6 col-md-4 d-flex mt-4">
        <div class="card text-center" style="width:18rem;">
         <img src="../images/dedeco-separating.jpg" alt="Card 1" class="card-img-top mx-auto">
            <div class="card-body flex-fill ">
              <h4 class="card-title">Отрезные корборундовые диски Dedeco (USA)</h4>
              <p class="card-text">Отрезные диски уп.100шт </p>
              <h6 class="card-header">
              <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price float-left">$42$</div>
        <a href="/add-to-cart/{{10}}/{{1}}/{{A}}" class="btn btn-success mt-auto float-right" role="button">В корзину </a>
            </div>
          </div>
        </div>
    </div>
 <br>
 <h3> ОБРАБОТКА ЦИРКОНИЯ </h3>
       <div class="row">
        <div class="col-sm-6 col-md-4 d-flex mt-4">
        <div class="card text-center" style="width:18rem;">
         <img src="../images/BQ-ZircDisk.png" alt="Card 1" class="card-img-top mx-auto">
            <div class="card-body flex-fill ">
              <h4 class="card-title">Абразивные зеленые камни с добавкой алмазной крошки  BestQual</h4>
              <p class="card-text">абразивный камень 1шт п-во Китай</p>
              <h6 class="card-header">
              <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price float-left">$16$</div>
        <a href="/add-to-cart/{{10}}/{{1}}/{{A}}" class="btn btn-success mt-auto float-right" role="button">В корзину </a>
             </div>
          </div>
       </div>
    </div>
        <div class="col-sm-6 col-md-4 d-flex mt-4">
        <div class="card text-center" style="width:18rem;">
         <img src="../images/P3.Polish-Harvest.jpg" alt="Card 1" class="card-img-top mx-auto">
            <div class="card-body flex-fill ">
              <h4 class="card-title">Полиры для циркония Harvest </h4>
              <p class="card-text">YellowStone алмазный абразив для обр циркония,дисиликата лития, керамики 1шт</p>
              <h6 class="card-header">
              <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price float-left">$49$</div>
        <a href="/add-to-cart/{{10}}/{{1}}/{{A}}" class="btn btn-success mt-auto float-right" role="button">В корзину </a>
             </div>
          </div>
       </div>
     </div>
    <div class="col-sm-6 col-md-4 d-flex mt-4">
        <div class="card text-center" style="width:18rem;">
         <img src="../images/webZircon-Brite.jpg" alt="Card 1" class="card-img-top mx-auto">
            <div class="card-body flex-fill ">
              <h4 class="card-title">Полировочная паста Zircon-Brite</h4>
              <p class="card-text">Полировка циркония 20g п-во DVA(USA)</p>
              <h6 class="card-header">
              <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price float-left">$27$</div>
        <a href="/add-to-cart/{{10}}/{{1}}/{{A}}" class="btn btn-success mt-auto float-right" role="button">В корзину </a>
             </div>
          </div>
       </div>
  </div> 
 </div>
</div>

