<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-md-offset-3" >
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
             {{ successMsg }}
        </div>
    </div>         
</div>

<div class="container-fluid">
    {{# each products}}
      <div class="row card-columns">
        {{# each this }}
        <div class="col-sm-6 col-md-4 d-flex mt-4">
         <div class="card text-center" style="width:18rem;">
          <img src={{ this.imagePath }} alt="Card 1" class="card-img-top mx-auto">
            <div class="card-body ">
              <h4 class="card-title">{{ this.title }}</h4>
                <p class="card-text">{{ this.description }}
                   <button class="btn btn-primary btn-xs float-right py-0" type="button"><i class="fa fa-question"></i></button></p>
                  <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price float-left">${{ this.price }}</div>
                    <a href="/add-to-cart/{{this.id}}" class="align-self-end btn btn-success  float-right" role="button">Buy</a>
                </div>
            </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
</div>
